
#view-product {
    .product-wrapper {
        .cover {
            padding-top: 120%;
        }
        .brand-logo {
            height: 100px;
            width: 100px;
        }
    }
    .similar-products, .brand-products {}
    .media-item {
        width: 100px;
        .img {
            padding-top: 150%;
        }
    }
}
