
#view-product {
    .product-wrapper {
        .cover {
            padding-top: 120%;
        }
    }
    .similar-products, .brand-products {
        
    }
    .product-list-item {
        width: 100px;
        .img {
            padding-top: 150%;
        }
    }
}
