
#view-topic {
    .topic-wrapper {
        .cover {
            padding-top: 50%;
        }
    }
    .product-item {
        width: 100px;
        .img {
            padding-top: 120%;
        }
    }
    .topic-comments {}
}
