
#view-new-order {
    .wrapper {
        > footer {
            padding: 15px;
            @include position(absolute, auto 0 0 0);
        }
    }
    .input-item {
        position: relative;
        padding-left: 60px;
        padding-right: 50px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        height: 14px + 15px * 2 + 1px;
        > .fa {
            @include position(absolute, 0 0 0 auto);
            padding: 12px 15px;
            font-size: 20px;
        }
    }
    .input-label {
        @include position(absolute, 0 auto 0 0);
        padding: 15px;
        line-height: 1;
    }
    .input-content {
        height: 100%;
    }
}
