
#view-order-detail {
    > .header-navbar {}
    > .wrapper {}
    .order-detail {
        .line {
            padding: 10px 15px;
            border-bottom: 1px solid #fafafa;
        }
    }
    .summary, .shipment, .system {
        background-color: #fff;
    }
    .summary {
        position: relative;
        height: 150px;
        padding: 15px 40px 0 120px;
        background-color: #fff;
        > .img {
            @include position(absolute, 0 auto 10px 0);
            width: 105px;
        }
        .title {
            margin-bottom: 10px;
            font-size: 1.1em;
        }
        .count, .amount {
            color: #aaa;
        }
    }
    .shipment {
        .status {
            color: $brand-success;
        }
    }
    .system {
        color: #aaa;
        margin: 10px auto;
    }
    .service {
        position: relative;
        color: #aaa;
        border-top: 1px solid #bbb;
        padding-top: 20px;
        margin: 20px 10px 50px;
        &::before, &::after {
            content: "";
            position: absolute;
            height: 4px;
            width: 4px;
            top: 0;
            border-radius: 50%;
            background-color: #bbb;
            @include transform(translate3d(0, -62.5%, 0));
        }
        &::before { left: -1px; }
        &::after { right: -1px; }
        h4, p {
            margin-bottom: 1em;
        }
        button {
            margin-top: 30px;
        }
    }
}
